@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="m-4 text-primary"> Welcome! - Bienvenido! - Bienvenue! - Willkommen! - Hoş Geldiniz! </h1>
    <h5>Please visit Students page to display the registered students and visit Registration page to resgister a new student.</h5>
</div>
